:root {
  --switch-width: 40px;
  --switch-height: 20px;
  --switch-slider-size: 4px;
}

body {
  font-family: sans-serif;
  padding: 10px;
  width: 200px;
}
.title {
  text-align: center;
  font-size: 18px;
  margin: 0 10px;
}
.switchs {
  margin-bottom: 10px;
}

.reload-button {
  position: absolute;
  top: 5px;
  right: 5px;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

/* 토스트 알림 CSS 시작 */
.toast {
  position: fixed;
  top: 12px;
  left: 50%;
  width: 50%;
  max-width: 150px;
  background-color: #333;
  color: white;
  padding: 6px 8px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transform: translate(-50%, -20px);
  transition: opacity 0.25s ease, transform 0.25s ease;
  z-index: 9999;
  pointer-events: none;
  font-size: 12px;
}
.toast.show {
  opacity: 1;
  transform: translate(-50%, 0);
  pointer-events: auto;
}
.toast-icon {
  font-size: 14px;
}
/* 토스트 알림 CSS 끝 */

/* 스위치 CSS 시작 */
.switch-container {
  display: flex;
  align-items: center;
  font-family: sans-serif;
  font-size: 18px;
  gap: 10px;
}
.switch {
  position: relative;
  display: inline-block;
  width: var(--switch-width);
  height: var(--switch-height);
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  inset: 0;
  background-color: #ccc;
  border-radius: var(--switch-height);
  transition: 0.4s;
  cursor: pointer;
}
.slider::before {
  content: "";
  position: absolute;
  width: calc(var(--switch-height) - var(--switch-slider-size)*2);
  height: calc(var(--switch-height) - var(--switch-slider-size)*2);
  left: var(--switch-slider-size);
  top: var(--switch-slider-size);
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}
.switch input:checked + .slider {
  background-color: #4caf50;
}
.switch input:checked + .slider::before {
  transform: translateX(calc(var(--switch-width) - var(--switch-slider-size)*5));
}
/* 스위치 CSS 끝 */

/* 초성목록 CSS 시작 */
.save-button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px;
}
.reset-button {
  padding: 10px 20px;
  background-color: #af4c4c;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px;
}
.person {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
}
.name {
  font-weight: bold;
  margin-bottom: 8px;
}
.cho-input-group {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
  gap: 4px;
}
.cho-input-group input {
  flex: 1;
  /* or width: 100px; */
  min-width: 0;
  padding: 4px 6px;
}
.cho-input-group button {
  width: 30px;
  height: 30px;
  margin-left: 2px;
  font-size: 18px;
}
/* 초성목록 CSS 끝 */